*{

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

*[data-active="false"]{
    display: none;
    opacity: 0;
}

html{
    font-family: "Lexend";
}

body{
    width: 100dvw;
    height: 100dvh;   
    /* background: red; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

main section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

main section#sources{
    width: 15%;
    height: 100dvh;
    background-color: transparent;
    padding: 1em;
    box-sizing: border-box;
    padding-top: 2.5em;
}


main section#sources div#feedTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

main section#sources div#feedTitle h3{
    font-family: "Lexend", sans-serif;
    margin: 0;
    color: white;
    font-size: 1em;
    font-weight: 400;
    cursor: default;
}

main section#sources div#feedTitle button{
    background-color: transparent;
    border: 0;
    height: 1.5em;
    width: 1.5em;
    padding: 0;
    cursor: pointer;
}

main section#sources div#feedTitle button img{
    height: 100%;
}

main section#sources ol{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

main section#sources ol li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: blue; */
    font-family: "Lexend";
    color: white;
    font-size: 0.9em;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 0.95em;
}

main section#sources ol li:hover p{
    color: white;    
}

main section#sources ol li img{
    height: 1em;
}

main section#sources ol li p{
    margin: 0;
    margin-left: 1em;
    width: 100%;
    font-size: 0.8em;
    font-weight: 200;
    color: rgba(255,255,255,0.5);
}

main section#sources ol li span{
    width: 1em;
    height: 1em;
    background-color: lightgreen;
    border-radius: 100%;
    align-self: flex-end;
    justify-self: flex-end;
    display: block;
    min-width: 1em;
    min-height: 1em;
}

main section#feed{
    width: 25%;
    height: 100dvh;
    background-color: rgba(0,0,0,.61);
    box-sizing: border-box;
    border-right: 1px solid rgba(255,255,255,0.1);
}

main section#feed #feedTitle{
    display: flex;
    flex-direction: row;
    background-color: rgba(0,0,0,0.2);
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
}

main section#feed #feedTitle h1{
    color: white;
    font-weight: 600;
    font-family: "Lexend";
    margin: 0;
    font-size: 1.2em;
    cursor: default;
}

main section#feed #feedTitle span{
    font-size: 0.5em;
    color: rgba(255,255,255,0.5);
    cursor: default;
}

main section#feed #feedScroller{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

main section#feed article.piece{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    box-sizing: border-box;
    overflow: hidden;
    color: white;
    line-height: 1.75em;
    cursor: pointer;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    background-color: rgba(255,255,255,0.1);
}

main section#feed article.piece:nth-of-type(even){
    background-color: rgba(255,255,255,0.05);
}

main section#feed article.piece[data-sentiment="positive"] .sentimentIndicator{
    background-image: linear-gradient(#5cd551, #92d5c1);
}

main section#feed article.piece[data-sentiment="positive"] .score{
    color: #5cd551;
}

main section#feed article.piece[data-sentiment="middling"] .sentimentIndicator{
    background-image: linear-gradient(#ffc207, #f7f41c);
}

main section#feed article.piece[data-sentiment="middling"] .score{
    color: #ffc207;
}

main section#feed article.piece[data-sentiment="middling"][data-selected="true"] .score{
    color: #ff8a06;
}

main section#feed article.piece[data-sentiment="negative"] .sentimentIndicator{
    background-image: linear-gradient(#ad152e, #ef1f42);
}

main section#feed article.piece[data-sentiment="negative"] .score{
    color: #ef1f42;
}

main section#feed article.piece .articleContent{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-right: 0.5em;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

main section#feed article.piece[data-selected="true"] .articleContent{
    background-color: white;
}

main section#feed article.piece[data-selected="true"] .articleContent .content .topSection h1{
    color: black;
    font-weight: 600;
}

main section#feed article.piece .articleContent .sentimentIndicator{
    min-width: 15px;
    background-color: grey;
    margin-right: 0.5em;
}

main section#feed article.piece .articleContent .content .topSection{
    display: flex;
    padding: 1em 0 0.5em;
}

main section#feed article.piece .articleContent .content .topSection h1{
    font-family: "Newsreader";
    margin: 0;
    line-height: 1.4em;
    font-size: 1.1em;
    font-weight: 200;
    max-width: 95%;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}

main section#feed article.piece .articleContent .content .topSection .newIndicator{
    align-self: flex-end;
    display: block;
    min-width: 10px;
    min-height: 10px;
    background: grey;
    border-radius: 100%;
}

main section#feed article.piece .articleContent .content .topSection .newIndicator[data-read="false"]{
    background-color: #3782ff;
}

main section#feed article.piece .articleContent .content .bottomSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    margin-bottom: 0.5em;
    font-weight: 600;
}

main section#feed article.piece .articleContent .content .bottomSection .lastUpdate{
    color: #aaa;
    font-weight: 400;
}

main section#feed article.piece[data-selected="true"] .articleContent .content .bottomSection .lastUpdate{
    color: #787878;
}

main section#viewer{
    width: 60%;
    background-color: rgba(0,0,0,0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    overflow-y: scroll;
}

main section#viewer h1{
    font-family: "Newsreader";
    font-weight: 100;
    color: rgba(255, 255, 255, 0.37);
    text-align: center;
    max-width: 15em;
    line-height: 1.3em;
}

main section#viewer iframe{
    border: 0;
    width: 95%;
    height: 95dvh;
    /* border-left: 1px solid rgba(255, 255, 255, 0.29); */
    position: absolute;
    border-radius: 15px;
    pointer-events: none;
}

main section#viewer iframe[src=""]{
    /* background-color: rgba(255,255,255,0.05); */
    /* background-color: red; */
}