*[data-active="false"]{
    display: none;
    opacity: 0;
}

html{
    font-family: "Lexend";
}

body{
    width: 100dvw;
    height: 100dvh;   
    /* background: red; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

main section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

main section#sources{
    width: 15%;
    height: 100dvh;
    background-color: transparent;
    padding: 1em;
    box-sizing: border-box;
    padding-top: 2.5em;
}


main section#sources div#feedTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}

main section#sources div#feedTitle h3{
    font-family: "Lexend", sans-serif;
    margin: 0;
    color: white;
    font-size: 1em;
    font-weight: 400;
}

main section#sources div#feedTitle button{
    background-color: transparent;
    border: 0;
    height: 1.5em;
    width: 1.5em;
    padding: 0;
    cursor: pointer;
}

main section#sources div#feedTitle button img{
    height: 100%;
}

main section#sources ol{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

main section#sources ol li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: blue; */
    font-family: "Lexend";
    color: white;
    font-size: 0.8em;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 0.95em;
}

main section#sources ol li:hover p{
    color: white;    
}

main section#sources ol li img{
    height: 1em;
}

main section#sources ol li p{
    margin: 0;
    margin-left: 1em;
    width: 100%;
    font-size: 0.8em;
    font-weight: 200;
    color: rgba(255,255,255,0.5);
}

main section#sources ol li span{
    width: 1em;
    height: 1em;
    background-color: lightgreen;
    border-radius: 100%;
    align-self: flex-end;
    justify-self: flex-end;
    display: block;
    min-width: 1em;
    min-height: 1em;
}

main section#feed{
    width: 25%;
    height: 100dvh;
    background-color: rgba(0,0,0,.61);
    box-sizing: border-box;
    padding: 1em;
    border-right: 1px solid rgba(255,255,255,0.1);
}

main section#feed article{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    color: white;
    line-height: 1.75em;
    padding: 3px;
    margin-bottom: 1em;
    cursor: pointer;
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

main section#feed article[data-selected="false"]:hover{
    opacity: 1.0;
    transform: scale(0.95);
}

main section#feed article[data-selected="false"]{
    opacity: 0.5;
    transform: scale(0.9);
}

main section#feed article[data-sentiment="unknown"]{
    background-image: conic-gradient(from 40deg, grey, grey, grey);
}

main section#feed article[data-sentiment="positive"]{
    background-image: conic-gradient(from -45deg, #92d5c1, #5cd551, #92d5c1);
}

main section#feed article .articleContent{
    border-radius: 3.75px;
    overflow: hidden;
    border: 1px solid rgba(255,255,255,0.35);
}

main section#feed article .imageHolder{
    width: 100%;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

main section#feed article .imageHolder img{
    width: 100%;
}

main section#feed article .imageHolder .shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

main section#feed article .content{
    background-color: #303030;
    padding: 0.5em;
    box-sizing: border-box;
    margin-top: 2px;
}

main section#feed article .content h1{
    margin: 0;
    font-family: "Newsreader", serif;
    font-weight: 400;
}

main section#viewer{
    width: 60%;
    background-color: rgba(0,0,0,0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    overflow-y: scroll;
}

main section#viewer h1{
    font-family: "Newsreader";
    font-weight: 100;
    color: rgba(255, 255, 255, 0.37);
    text-align: center;
    max-width: 15em;
    line-height: 1.3em;
}

main section#viewer iframe{
    border: 0;
    width: 95%;
    height: 95dvh;
    /* border-left: 1px solid rgba(255, 255, 255, 0.29); */
    position: absolute;
    border-radius: 15px;
    pointer-events: none;
}